<launch>
  <node pkg="rosbag" type="play" name="rosbag_playback" args="/ros/catkin_ws/mytest.bag"/>
  
   <!-- sets the optimal time gap from the lead car. -->
  <param name="/optimal_time_gap/t0" type="double" value="3.0" />
  
   <!-- sets the speed limit for the road -->
  <param name="/speed_limit/v0" type="double" value="80.0" />
  
  <node pkg="autobotscontroller" type="autobotscontroller" name="autobotscontroller_node">
	<remap from="/car/state/vel_x" to="/vel_x"/>
  </node>

  <node pkg="carsimplesimulink" type="carsimplesimulink" name="carsimplesimulink_node"/>
  
</launch>
